﻿{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block content %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
	<script src="{% static 'js/main.js' %}"></script>

	<div class="uk-grid uk-child-width-1-2@m" uk-grid>
		<div class="item">
			<div class="uk-card uk-card-default uk-card-detached uk-card-small">
				<div class="uk-card-body">
					<ul class="uk-tab" uk-tab>
						<li><a href="">{% trans 'Pool Stats' %}</a></li>
						<li><a href="">{% trans 'Check my Stats' %}</a></li>
					</ul>
					<div class="uk-switcher">
						<div>
							<table class="uk-table uk-table-divider">
									<tbody>
										<tr>
											<th width="55%">{% trans "Local Hashrate" %}</th>
											<td id="stat-hashrate"><span class="green">{{output.effective_local_pool_hashrate}}</span>&nbsp;|&nbsp;<span class="red">{{output.dead_local_pool_hashrate}}</span>&nbsp;<span class="dimension">GH/s</span></td>
										</tr>
										<tr>
											<th>{% trans "Pool Efficiency" %}</th>
											<td id="stat-efficiency">{{output.pool_efficiency}}%</td>
										</tr>
										<tr>
											<th>{% trans "Current Active Workers" %}</th>
											<td id="stat-workers">{{output.number_of_workers}}</td>
										</tr>
										<tr>
											<th>{% trans "Shares" %}</th>
											<td id="stat-shares"><span class="green">{{output.shares_total}}</span>&nbsp;|&nbsp;<span class="red">{{output.shares_orphan}}</span>&nbsp;|&nbsp;<span class="gray">{{output.shares_dead}}</span></td>
										</tr>
										<tr>
											<th>{% trans "Est. time to share" %}</th>
											<td id="stat-sharetime">{{output.time_to_share}}</td>
										</tr>
										<tr>
											<th>{% trans "Est. time to block | payout" %}</th>
											<td id="stat-timetoblock">{{output.time_to_block}}</td>
										</tr>
										<tr>
											<th>{% trans "Current Difficulty" %}</th>
											<td id="stat-diff">{{output.current_ave_difficulty}}</td>
										</tr>
										<tr>
											<th>{% trans "Pool uptime" %}</th>
											<td id="stat-uptime">{{output.uptime}}</td>
										</tr>
									</tbody>
								</table>
						</div>
						<div>
							<table class="uk-table uk-table-divider">
								<tbody>
									<tr>
										<th>{% trans 'Current Hashrate' %}</th>
										<td><span id="mystat-hashrate">{{output_private.private_hashrate}}</span> <span id="mystat-dimension">{{output_private.dimension_hash_rate}}</span></td>
									</tr>
										<th>{% trans 'Estimated earnings per 24h' %}</th>
										<td><span id="mystat-reward24">{{output_private.private_rewards24}}</span>&nbsp;|&nbsp;<span id="mystat-reward24dollar">{{output_private.private_rewards24_dollar}} $</span></td>
									</tr>
									<tr>
										<th>{% trans 'Estimated earnings per month' %}</th>
										<td><span id="mystat-reward30d">{{output_private.private_rewards30d}}</span>&nbsp;|&nbsp;<span id="mystat-reward30dollar">{{output_private.private_rewards30d_dollar}} $</span></td>
									</tr>
									<tr>
										<th>{% trans 'Updated' %}</th>
										<td id="mystat-updated">{{output_private.updated}}</td>
									</tr>
								</tbody>
							</table>
							<form method="post" class="see-stats-anon uk-form">
								{% csrf_token %}
								{% render_field form.coin class+="uk-hidden" type="text" name="coin" placeholder="coin" val="" %}
								<div class="uk-grid uk-grid-small" uk-grid>
									<div class="uk-width-1-1 uk-width-expand@s">
										{% render_field form.wallet class+="uk-input uk-width-1-1" type="text" name="wallet" placeholder="Type your wallet" val="" %}
									</div>
									<div class="uk-width-1-1 uk-width-auto@s">
										<button class="uk-button uk-button-primary uk-width-1-1" type="submit">{% trans 'Check' %}</button>
									</div>
								</div>
							</form>
							<p class="uk-text-right">...{% trans 'or open' %} <a href="{% url 'profile' %}" class="uk-link">{% trans 'Profile' %}</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="uk-width-1-1 uk-hidden@m uk-margin-medium-top">
			<span class="uk-h2">{% trans 'Pool statistics' %}</span>
			<hr class="uk-divider-small">
		</div>

		<div class="item">
				<div class="choose-time uk-grid uk-grid-small uk-child-width-1-2 uk-child-width-1-5@m uk-margin-bottom" uk-grid>
						<div><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="hour">{% trans 'hour' %}</a></div>
						<div><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="day">{% trans 'day' %}</a></div>
						<div class="uk-visible@m"><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="week">{% trans 'week' %}</a></div>
						<div class="uk-visible@m"><a href="/" class="uk-button uk-button-default uk-width-1-1 uk-active" rel="nofollow" data-lang="month">{% trans 'month' %}</a></div>
						<div class="uk-visible@m"><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="year">{% trans 'year' %}</a></div>
				</div>
				<div class="chartjs-wrapper uk-position-relative">
					<div uk-spinner class="uk-position-center uk-animation"></div>
					<canvas id="chart-poolrate"></canvas>
					<span class="uk-background-white"></span>
					<span class="error uk-position-center uk-hidden">{% trans 'Service is temporarily unavailable' %}</span>
				</div>
				<div class="chartjs-wrapper uk-position-relative uk-margin-top">
					<div uk-spinner class="uk-position-center uk-animation"></div>
					<canvas id="chart-poolpayouts"></canvas>
					<span class="uk-background-white"></span>
					<span class="error uk-position-center uk-hidden">{% trans 'Service is temporarily unavailable' %}</span>
				</div>
		</div>
	</div>
{% endblock content %}