{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<div class="uk-text-center">
		<div class="uk-form-horizontal uk-card uk-card-default uk-card-small uk-box-shadow-small uk-width-xlarge uk-display-inline-block">
			<div class="uk-card-header blue uk-light">
				<div class="uk-grid uk-grid-small uk-child-width-1-2" uk-grid>
						<div class="uk-text-left">
							<a href="{% url 'login' %}">{% trans "Login" %}</a>
						</div>
						<div class="uk-text-right">
								<a href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
						</div>
				</div>
			</div>
			<div class="uk-card-body uk-card-large uk-text-left">
				<h1 class="uk-article-title uk-margin-small-bottom">{% trans "Successfully" %}</h1>
				<h2 class="uk-article-meta uk-margin-remove-top uk-margin-medium-bottom">{% trans "You did it" %}</h2>

				<p>{{ message }}</p>
				<p class="uk-h4">{% trans "Activation email address:" %} {{ to_email }}</p>
		</div>
		</div>
	</div>

{% endblock content %}
