{% extends 'registration/base_letter.html' %}

{% block content %}
  <p style="margin: 1em 0px;margin-top: 0px;">Hi, {{ user.username }}!</p>
  <p style="margin: 1em 0px;margin-bottom: 0px;">Please click on the link to confirm your registration, <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}">link here</a>.</p>
{% endblock %}