{% load staticfiles %}
{% autoescape off %}
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">

  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="initial-scale=1.0">
      <meta name="format-detection" content="telephone=no">
      <title>Owl.pool - Email</title>
      <style type="text/css">
      table.vb-container.fullwidth{padding-left:0;padding-right:0}
      .yshortcuts a{border-bottom:none!important}
      .vb-outer{min-width:0!important}
      table{mso-table-rspace:0;mso-table-lspace:0}
      img{outline:none;text-decoration:none;border:none;-ms-interpolation-mode:bicubic}
      a img{border:none}
      a{color:#333}
      a:hover{color:rgb(84, 84, 84)}
      @media screen and (max-device-width: 600px),screen and (max-width: 600px) {
      .mobile-full{float:none!important;width:100%!important;max-width:none!important;padding-right:0!important;padding-left:0!important}
      img.mobile-full{width:100%!important;max-width:none!important;height:auto!important}
      }
      #ko_textBlock_4 .links-color a:visited{color:#f3f2f7;color:#f3f2f7;text-decoration:underline}
      #ko_footerBlock_2 .links-color a:visited{color:#ccc;color:#ccc;text-decoration:underline}
      </style>
  </head>

  <body style="margin: 0;padding: 0;background-color:#f3f2f7;color: #919191;" vlink="#cccccc" text="#919191" bgcolor="#f3f2f7" alink="#cccccc">
      <center>
        <table class="vb-outer" style="background-color: #f3f2f7;" id="ko_logoBlock_3" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f3f2f7">
          <tbody>
              <tr>
                <td class="vb-outer" style="padding-left: 9px;padding-right: 9px;background-color: #f3f2f7;" valign="top" bgcolor="#f3f2f7" align="center">
                    <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                    <div class="oldwebkit" style="max-width: 570px;">
                        <table style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;" class="vb-container fullpad" width="570" cellspacing="18" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td valign="top" align="center">
                                        <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="258"><tr><td align="center" valign="top"><![endif]-->
                                        <div class="mobile-full" style="display: inline-block; max-width: 258px; vertical-align: top; width: 100%;margin-bottom:5px">
                                          <img alt="" style="border: 0px;display: block;width:96px;height:90px" src="http://{{ domain }}{% static 'images/logo-post.jpg' %}" hspace="0" width="96" height="90" vspace="0" border="0">
                                        </div>
                                        <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                  </td>
                </tr>
              </tbody>
          </table>
          <table class="vb-outer" style="background-color: #f3f2f7;" id="ko_textBlock_4" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f3f2f7">
              <tbody>
                  <tr>
                      <td class="vb-outer" style="padding-left: 9px;padding-right: 9px;background-color: #f3f2f7;" valign="top" bgcolor="#f3f2f7" align="center">
                          <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                          <div class="oldwebkit" style="max-width: 570px;">
                              <table class="vb-container fullpad" style="border-collapse: separate;border-spacing: 18px;padding-left: 0;padding-right: 0;width: 100%;max-width: 570px;background-color: #fff;" width="570" cellspacing="18" cellpadding="0" border="0" bgcolor="#ffffff">
                                  <tbody>
                                      <tr>
                                          <td class="long-text links-color" style="text-align: left; font-size: 13px; font-family: Arial, Helvetica, sans-serif; color: #333;" align="left">
																						{% block content %}
																						{% endblock content %}
																					</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                      </td>
                  </tr>
              </tbody>
          </table>
          <!-- footerBlock -->
          <table style="background-color:#f3f2f7;" id="ko_footerBlock_2" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f3f2f7">
              <tbody>
                  <tr>
                      <td style="background-color:#f3f2f7;" valign="top" bgcolor="#f3f2f7" align="center">
                          <!--[if (gte mso 9)|(lte ie 8)]><table align="center" border="0" cellspacing="0" cellpadding="0" width="570"><tr><td align="center" valign="top"><![endif]-->
                          <div class="oldwebkit" style="max-width: 570px;">
                              <table style="border-collapse: separate;border-spacing: 9px;padding-left: 9px;padding-right: 9px;width: 100%;max-width: 570px;" class="vb-container halfpad" width="570" cellspacing="9" cellpadding="0" border="0" align="center">
                                  <tbody>
                                      <tr>
                                          <td class="long-text links-color" style="text-align: center; font-size: 13px; color: #919191; font-weight: normal; text-align: center; font-family: Arial, Helvetica, sans-serif;">
                                              <p style="margin: 1em 0px;margin-bottom: 0px;margin-top: 20px;">You received this email, because you registered on the mining pool platform Owl.Pull<br/>2018 Owl.Pull Project. All you need is registered.</p>
                                          </td>
                                      </tr>
                                      <tr>
                                          <!-- <td style="text-align: center;">
                                              <a href="%5Bunsubscribe_link%5D" style="text-decoration: underline; color: #333; text-align: center; font-size: 13px; font-weight: normal; font-family: Arial, Helvetica, sans-serif;" target="_new"><span>Unsubscribe</span></a>
                                          </td> -->
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          <!--[if (gte mso 9)|(lte ie 8)]></td></tr></table><![endif]-->
                      </td>
                  </tr>
              </tbody>
          </table>
          <!-- /footerBlock -->
      </center>
  </body>

  </html>
{% endautoescape %}
