{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
  <div class="uk-text-center">
    <form method="post" class="uk-card uk-card-default uk-card-small uk-box-shadow-small uk-width-large uk-display-inline-block">
      {% csrf_token %}
      <div class="uk-card-header blue uk-light">
          <div class="uk-grid uk-grid-small uk-child-width-1-2" uk-grid>
              <div class="uk-text-left">
                <a href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
              </div>
              <div class="uk-text-right">
                  <a href="{% url 'reset_password' %}">{% trans "Forgot Password?" %}</a>
              </div>
          </div>
      </div>

      <div class="uk-card-body uk-card-large uk-text-left">
        <h1 class="uk-article-title uk-margin-small-bottom">Owl.Pull</h1>
        <h2 class="uk-article-meta uk-margin-remove-top uk-margin-medium-bottom">{% trans "Welcome, please login." %}</h2>

        {% if form.errors %}
          <p style="color: rgb(201, 25, 25);margin-top:-15px">{% trans "Your username and password didn't match. Please try again." %}</p>
        {% endif %}

        <div class="uk-margin uk-display-block uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: user"></span>
              {% render_field form.username class+="uk-input uk-width-1-1" type="text" name="username" placeholder="Username" %}
        </div>

        <div class="uk-margin uk-display-block uk-position-relative">
              <span class="uk-form-icon" uk-icon="icon: lock"></span>
              {% render_field form.password class+="uk-input uk-width-1-1" type="text" name="password" placeholder="Password" %}
        </div>

        <button type="submit" class="uk-button uk-button-primary">{% trans "Login" %}</button>
        <div class="uk-clearfix uk-margin"></div>
        <a class="uk-button uk-button-link" href="{% url 'signup' %}">{% trans "Sign up" %}</a>
      </div>
    </form>
  </div>
{% endblock %}
