{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}


<div class="uk-text-center">
	<form method="post" class="uk-form-horizontal uk-card uk-card-default uk-card-small uk-box-shadow-small uk-width-xlarge uk-display-inline-block">
		{% csrf_token %}
		<div class="uk-card-header blue uk-light">
			<div class="uk-grid uk-grid-small uk-child-width-1-2" uk-grid>
					<div class="uk-text-left">
						<a href="{% url 'login' %}">{% trans "Login" %}</a>
					</div>
					<div class="uk-text-right">
							<a href="{% url 'signup' %}">{% trans "Sign Up" %}</a>
					</div>
			</div>
		</div>
		<div class="uk-card-body uk-card-large uk-text-left">
			<h1 class="uk-article-title uk-margin-small-bottom">{% trans "Password reset" %}</h1>
			<h2 class="uk-article-meta uk-margin-remove-top uk-margin-medium-bottom">{% trans "Just write you email." %}</h2>
			<div class="uk-margin uk-display-block uk-position-relative uk-text-left">
          <label class="uk-form-label">{% trans "Email address:" %}</label>
					<div class="uk-form-controls">
							<input id="id_email" class="uk-input uk-width-1-1" maxlength="50" name="email" type="email" placeholder="E-mail"/>
							{{ form.email.errors }}
					</div>
			</div>

      <button type="submit" class="uk-button uk-button-primary">{% trans "Reset my password" %}</button>
    </div>
	</form>
</div>

{% endblock %}
