{% extends 'registration/base_letter.html' %}

{% block content %}
                                            Hi, {{ user.get_username }}!
                                            <p>To initiate the password reset process for your {{ user.get_username }} Owl.Pull Account, click this  <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">link</a></p>

                                            <p>Someone asked for password reset for email {{ email }}. if it was not you, please ignore this message, change the password to a safer one</p>

                                            <p>Sincerely,<br/>The Owl.Pull Team</p>
{% endblock %}
