{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="uk-text-center">
	<form method="post" class="uk-form-horizontal uk-card uk-card-default uk-card-small uk-box-shadow-small uk-width-large uk-display-inline-block">
		{% csrf_token %}
		<div class="uk-card-header blue uk-light">
				<div class="uk-grid uk-grid-small uk-child-width-1-2" uk-grid>
						<div class="uk-text-left">
							<a href="{% url 'login' %}">{% trans "Login" %}</a>
						</div>
						<div class="uk-text-right">
								<a href="{% url 'reset_password' %}">{% trans "Forgot Password?" %}</a>
						</div>
				</div>
		</div>

		<div class="uk-card-body uk-card-large uk-text-left">
			<h1 class="uk-article-title uk-margin-small-bottom">{% trans "Set new password" %}</h1>
			<h2 class="uk-article-meta uk-margin-remove-top uk-margin-medium-bottom">{% trans "Are you ready?" %}</h2>

			<div class="uk-margin uk-display-block uk-position-relative">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input type="password" name="new_password1" required id="id_new_password1" class="uk-input uk-width-1-1" placeholder="Password" />
			</div>
			
			<div class="uk-margin uk-display-block uk-position-relative">
				<span class="uk-form-icon" uk-icon="icon: lock"></span>
				<input type="password" name="new_password2" required id="id_new_password2" class="uk-input uk-width-1-1" placeholder="Password (again)" />
			</div>

			<button type="submit" class="uk-button uk-button-primary">{% trans "Submit" %}</button>
		</div>
	</form>
</div>
{% endblock %}
