{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block content %}
<div class="uk-text-center">
  <form method="post" class="uk-form-horizontal uk-card uk-card-default uk-card-small uk-box-shadow-small uk-width-xlarge uk-display-inline-block">
    {% csrf_token %}
    <div class="uk-card-header blue uk-light">
      <div class="uk-grid uk-grid-small uk-child-width-1-2" uk-grid>
          <div class="uk-text-left">
            <a href="{% url 'login' %}">{% trans "Login" %}</a>
          </div>
          <div class="uk-text-right">
              <a href="{% url 'reset_password' %}">{% trans "Forgot Password?" %}</a>
          </div>
      </div>
    </div>
    <div class="uk-card-body uk-card-large uk-text-left">
      <h1 class="uk-article-title uk-margin-small-bottom">{% trans "Sign Up" %}</h1>
      <h2 class="uk-article-meta uk-margin-remove-top uk-margin-medium-bottom">{% trans "Welcome, please fill fields" %}</h2>

      {% for field in form %}
        <div class="uk-margin uk-display-block uk-position-relative uk-text-left">
          <label class="uk-form-label">{{ field.label_tag }}</label>
          <div class="uk-form-controls">
            {{ field | add_class:"uk-input uk-width-1-1"}}
          </div>
          <!-- {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %} -->
          {% for error in field.errors %}
            <p style="color: rgb(201, 25, 25)">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}

      <button type="submit" class="uk-button uk-button-primary">{% trans "Sign Up" %}</button>
    </div>
  </form>
</div>
{% endblock %}
