@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic');
html{font-family:'Roboto',sans-serif;font-size:15px;font-weight:400;color:#525252}
@media (max-width:1600px){
html{font-size:14px}
}

.uk-link, a{color: #0796ba;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
a:hover,a:focus{-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}

header{background:#fff!important}
header .uk-navbar{border-bottom:1px solid #eaeef1}
header .uk-navbar-nav>li>a{height:89px;position:relative}
header .uk-navbar-nav>li.uk-active>a,header .uk-navbar-nav>li:hover>a,header .uk-navbar-nav>li:focus>a{background:#fcfcfc}
header .uk-navbar-nav>li.uk-active a:after{content:'active';width:100%;position:absolute;bottom:10px;left:0;right:0;margin:0 auto;text-align:center;font-size:9px;color:#d6d6d6}
header .uk-navbar-nav>li>a.disabled{color:#999;background:#fff!important;pointer-events:none;cursor:default}
header .uk-navbar-nav>li a.disabled:after{content:'coming soon';width:100%;position:absolute;bottom:10px;left:0;right:0;margin:0 auto;text-align:center;font-size:9px;color:#d6d6d6}
header.uk-active{box-shadow:0 3px 5px rgba(0,0,0,0.03)}
header.uk-active .uk-navbar{border-color:transparent}
.main-container{background:#fff;margin-left:96px}
footer{background:#f9f9fb;font-size:13px;padding:14px 0 13px;color:#646464;border-top:1px solid #eaeef1}
footer .uk-icon{color:#d83131}
@media (max-width:959px){
header .uk-navbar-nav>li.uk-active>a,header .uk-navbar-nav>li:hover>a,header .uk-navbar-nav>li:focus>a{background:#f9f9f9}
header .uk-navbar-nav>li>a{height:66px}
header .uk-navbar-nav>li a:after{display:none}
.main-container{margin-left:66px}
}

#sidebar{width:96px;background:#f2f2f6;position:relative;z-index:3}
#sidebar .uk-navbar{background:#f9f9fb}
#sidebar .uk-navbar a{width:100%;height:90px;font-family:'Roboto',sans-serif;color:#50667b;flex-wrap:wrap;padding:0}
#sidebar .uk-navbar .title{font:16px 'Comfortaa', cursive;margin-top:-15px}
#sidebar .uk-navbar .uk-logo img{max-width:44px;max-height:44px}
#sidebar .uk-nav>li{text-align:center}
#sidebar .uk-nav>li>a{display:block;font:12px 'Roboto',sans-serif;padding:10px 5px;color:#50667b;line-height:15px;opacity:0.4}
#sidebar .uk-nav>li>a i.uk-icon{margin-bottom:10px}
#sidebar .uk-nav>li>a:after{display:none}
#sidebar .uk-nav>li>a:hover{opacity:1;background:#f7f7f7}
#sidebar .uk-nav>li>a>span{display:block}
#sidebar .uk-nav>li hr{border-color:#d9dce1}
#sidebar .choose-lang li{text-align:left}
@media (max-width:959px){
#sidebar{width:66px}
#sidebar .uk-navbar a{height:66px}
#sidebar li>a i.uk-icon{margin:0}
#sidebar .choose-lang .uk-button{padding:0 15px}
}
@media (max-width:959px){
#sidebar .uk-nav>li>a i.uk-icon{margin:0}
}

.flag{width:32px;height:32px;display:inline-block;background:url(../images/awesome/flags.png) no-repeat;vertical-align:middle;margin-top:-1px}
.flag.flag-ru{background-position:0 -32px}
.flag.flag-zh-hans{background-position:0 0}
.flag.flag-en{background-position:-32px 0}

.choose-time a{padding:0 1px}
.choose-time a.uk-active{background:#f8f8f8;border-color:#ececec}
.choose-server>a{font-size:14px!important}
.choose-server>a span{font-size:12px;display:block;margin-top:1px}
.chartjs-wrapper{min-height:240px}
.chartjs-wrapper .error{background:#fff;padding:5px 10px;border-radius:2px;border:1px solid #f2f2f2}
.see-stats-anon input{border:2px solid #ef7f7f}
.see-stats-anon input:required{box-shadow:none}

.uk-card-header.blue{background-color:#0796ba}
@media (max-width:959px){
.uk-card.uk-card-detached{box-shadow:none}
.uk-card.uk-card-detached .uk-card-body{padding:0}
}

.uk-tab>li>a{text-transform:none;font:16px Raleway,sans-serif;border-bottom-width:2px;padding:8px 12px;text-align:left}
.uk-tab>.uk-disabled>a{color:#c9c9c9}
.uk-tab>*>a{color:#898989}
@media (max-width:639px){
.uk-tab>li>a{padding:7px 4px}
}

.uk-table{font-family:'Roboto',sans-serif}
.uk-table th{color:#222}
.uk-table td{color:#333;font-weight:300}

.uk-button-primary{background:#085480}
.uk-button-primary:hover,.uk-button-primary:focus{background:#0f6da3}

.uk-table th{font-size:12px}
.uk-table .green{color:#00b10f}
.uk-table .red{color:#dc1111}

.uk-background-white{width:100%;height:100%;top:0;left:0;position:absolute;background:#fff;z-index:3}
.uk-background-blur:before{content:'';width:100%;height:100%;top:0;left:0;position:absolute;background:rgba(255,255,255,0.7);z-index:1;-webkit-filter: blur(5px);filter: blur(5px)}
.uk-spinner{z-index:100}

.uk-notification .uk-close{color:#fff;display:block}
.uk-notification-message{font-family:'Roboto-Regular',sans-serif}
.uk-notification-message-success{background:rgba(119,185,107,0.91);color:#fff}
.uk-notification-message-danger{background:rgba(185,107,107,0.91);color:#fff}
.uk-notification-message-primary{background:rgba(30,135,240,0.91);color:#fff}
.uk-notification-message-warning{background:rgba(250,160,90,0.91);color:#fff}
.uk-notification-message a{color:#fff;text-decoration:underline;font-size:14px}
.uk-notification-message a:hover{text-decoration:none}
@media(max-width:639px){
.uk-notification-message{font-size:14px}
}

.uk-lightbox{background:rgba(0,0,0,0.70)}