{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error 404. Page not found</title>
  <style>
      body{margin:0;font-family:'Open Sans',sans-serif;font-size:16px;color:#fff;box-sizing:border-box}
      canvas{display:block;vertical-align:bottom}
      a{color:#fff;text-decoration:none}
      a:hover{color:#fff;text-decoration:underline}
      p.text-small{font-size:14px}
      #particles-js{position:fixed;z-index:1;width:100%;height:100%;background-color:#00356B}
      .logo{display:block}
      .logo img{max-width:300px}
      .main{width:100%;max-width:639px;margin:0 auto;position:relative;z-index:2;text-align:center}
      .content{background:rgba(0, 0, 0, 0.4);padding:20px 35px;margin:25px}
      .content a{color:#24cbef;text-decoration:underline}
      .content a:hover{color:#22badc;text-decoration:none}
      hr{width:120px;margin:70px 0 0;border:none;border-bottom:3px solid #ef243a}
      h1{font-size:43px;font-weight:700;letter-spacing: -1px;margin:0 0 10px}
      footer{padding:25px}
      footer ul{padding:0;list-style:none}
      footer li{display:inline-block;margin:0 15px}
      footer li:first-child{margin-left:0}
      footer li:last-child{margin-right:0}
      footer .copyright{display:block;font-size:12px}
      @media (min-height:570px){
      .main{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);display:table;width:-moz-max-content;max-width:100%;box-sizing:border-box}
      }
      @media (max-height:569px) {
      .logo{padding-top:25px}
      }
      @media (max-width:959px) {
      .logo img{max-width:150px}
      .content{padding:20px 25px}
      h1{font-size:34px}
      footer{padding:0 15px 15px}
      }
      @media (max-width:639px) {
      .logo img{max-width:110px}
      }
  </style>

  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <script>
    function runParticles() {
      particlesJS("particles-js", {"particles":{"number":{"value":303,"density":{"enable":true,"value_area":946.9921162906311}},"color":{"value":"#fff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":100}},"opacity":{"value":0.5,"random":true,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":10,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":false,"distance":500,"color":"#ffffff","opacity":0.4,"width":2},"move":{"enable":true,"speed":1.5783201938177185,"direction":"bottom","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"window","events":{"onhover":{"enable":false,"mode":"repulse"},"onclick":{"enable":false,"mode":"repulse"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":0.5}},"bubble":{"distance":400,"size":4,"duration":0.3,"opacity":1,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
    };
    window.addEventListener("DOMContentLoaded", runParticles);
  </script>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>

  <div id="particles-js"></div>
  <div class="main">
    <a href="{% url 'home' %}" class="logo" title="Owlpull">
      <img src="{% static 'images/logo_error.svg' %}" />
    </a>
    <div class="content">
      <h1>Error 404</h1>
      <p>Page not found! Apparently you switched to the wrong link ¯\_(ツ)_/¯</p>
      <p class="text-small">But do not despair. Especially for you we offer<br/>a portal to <a href="{% url 'home' %}">the main page</a> of the site!</p>
    </div>
    <footer>
      <ul>
          <li><a href="{% url 'profile' %}">{% trans 'Profile' %}</a></li>
          <li><a href="{% url 'blog' %}">{% trans 'Knowledge' %}</a></li>
      </ul>
      <span class="copyright">2018 © All rights reserved. Owlpull</span>
    </footer>
  </div>
</body>
</html>
