﻿{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div uk-grid>
  <div class="uk-width-medium@m uk-flex-last@m">
    <ul class="uk-tab-right" uk-tab="connect: #component-tab-right; animation: uk-animation-fade" uk-sticky="offset:110;media:(min-width: 960px)" style="z-index:500">
        <li><a href="#">1. {% trans 'Start with Owl.pull' %}</a></li>
        <li><a href="#">2. {% trans 'Common Q&A' %}</a></li>
        <li class="uk-disabled"><a href="#" class="uk-disabled">3. {% trans 'Market analysis' %}<span class="uk-display-block uk-text-small uk-margin-small-left">{% trans 'only for pool donators' %}</span></a></li>
        <li class="uk-disabled"><a href="#" class="uk-disabled">4. {% trans 'Buy hardware' %}<span class="uk-display-block uk-text-small uk-margin-small-left">{% trans 'section comming soon' %}</span></a></li>
        <li class="uk-disabled"><a href="#" class="uk-disabled">5. {% trans 'Rental of mining places' %}<span class="uk-display-block uk-text-small uk-margin-small-left">{% trans 'section comming soon' %}</span></a></li>
        <li class="uk-disabled"><a href="#" class="uk-disabled">6. {% trans 'Study Blockchain' %}<span class="uk-display-block uk-text-small uk-margin-small-left">{% trans 'section comming soon' %}</span></a></li>
        <li class="uk-disabled uk-margin-top">
          <a href="#">
            support@owlpull.com <span class="uk-display-block uk-text-small uk-margin-small-left">{% trans 'Technical support' %}</span>
            <hr class="uk-margin-small">
            head@owlpull.com <span class="uk-display-block uk-text-small uk-margin-small-left">{% trans 'Advertising proposals' %}</span>
          </a>
        </li>
    </ul>
  </div>
  <div class="uk-width-expand@m">
    <div id="component-tab-right" class="uk-switcher uk-card uk-card-default uk-card-small">
        <div class="uk-switcher-item uk-card-body">
          <h2 class="uk-card-title">{% trans 'Getting Started Guide' %}</h2>
          <hr />

          <p><b>1. {% trans 'Create account.' %}</b></p>

          <ul>
            <li><a href="{% url 'signup' %}">{% trans 'Register here' %}</a>, {% trans 'or' %} <a href="{% url 'login' %}">{% trans 'login' %}</a> {% trans 'if you already have account' %}.</li>
            <li>{% trans 'Create a worker that will be used by the miner to login' %}.</li>
          </ul>

          <p><b>2. {% trans 'Download a miner.' %}</b></p>
          <p><b>ASIC {% trans 'miners' %}</b>
          <p>{% trans 'We highly recommended mine BTC, DASH or LTC' %} <i><b>{% trans 'only using Asics hardware for more profit.' %}</b></i>
          {% trans 'You can check the latest Asics firmware' %} <a href="https://shop.bitmain.com/support.htm?pid=00720161126080548570Q2tDBXAH065D">{% trans 'here' %}</a> {% trans 'or' %} <a href="https://www.baikalminer.com/support04.php"> {% trans 'here' %}.</a></p>
          <p><b>{% trans 'CPU and GPU miners' %}</b>
          <ul>
              <li>Intel/ATI/AMD CGMiner (3.7.2) Windows: <a href="https://mega.co.nz/#!iQhlGIxa!mzKOfLY6TpOfvPvWE6JFlWdRgHEoshzm99f1hd3ZdRw" target="_blank">Download here</a></li>
              <li>Intel/ATI/AMD CGMiner (3.7.2) Linux: <a href="http://ck.kolivas.org/apps/cgminer/3.7/cgminer-3.7.0.tar.bz2" target="_blank">Download Here</a></li>
              <li>NVIDIA Cudaminer: <a href="https://bitcointalk.org/index.php?topic=167229.0" target="_blank"> Download here</a></li>
              <li>Intel/ATI/AMD BFGMiner Linux/Windows: <a href="http://bfgminer.org" target="_blank">Download here</a></li>
              <li>Fabulous Panda Miner Mac OS X: <a href="http://fabulouspanda.co.uk/macminer/" target="_blank">Download here</a></li>
              <li>Minerd CPU Miner Mac/Linux/Windows: <a href="https://bitcointalk.org/index.php?topic=55038.msg654850#msg654850" target="_blank"> Download here</a>.</li>
          </ul>
          <p><b>3. {% trans 'Create a Wallets address to receive payments' %}.</b></p>
          <ul>
            <li>{% trans 'Download the BTC wallet' %} <a href="https://www.bitcoin.com/choose-your-wallet">from here.</a><br></li>
            <li>{% trans 'Download the DASH wallet' %} <a href="https://www.DASH.org/wallets/">from here.</a><br></li>
            <li>{% trans 'Download the LTC wallet' %} <a href="https://litecoin.com/ru/#wallets">from here.</a><br></li>
          </ul>
          <p><b>4. {% trans 'Configure your miner' %}.</b></p>
          {% if user.is_active %}
            <ul class="uk-tab" uk-tab="swiping:false">
              <li aria-expanded="true" class="uk-active"><a href="">{% trans 'Settings for BTC' %}</a></li>
              <li aria-expanded="false"><a href="">{% trans 'Settings for DASH' %}</a></li>
              <li aria-expanded="false"><a href="">{% trans 'Settings for LTC' %}</a></li>
            </ul>
            <div class="uk-switcher">
              <div class="uk-overflow-auto">
                  <table class="uk-table uk-table-small uk-width-large@s">
                    <tr>
                      <td><b>{% trans 'First address:' %}</b></td>
                      <td>europe1.owlpull.com:9332 {% trans '(Auto Geolocation)' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Second address:' %}</b></td>
                      <td>europe2.owlpull.com:9332 {% trans '(Auto Geolocation)' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Username:' %}</b></td>
                      <td>{% trans 'your wallet address' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Password:' %}</b></td>
                      <td>X</td>
                    </tr>
                  </table>
              </div>
              <div class="uk-overflow-auto">
                  <table class="uk-table uk-table-small uk-width-large@s">
                    <tr>
                      <td><b>{% trans 'First address:' %}</b></td>
                      <td>europe1.owlpull.com:7903 {% trans '(Auto Geolocation)' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Second address:' %}</b></td>
                      <td>europe2.owlpull.com:7903 {% trans '(Auto Geolocation)' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Username:' %}</b></td>
                      <td>your wallet address</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Password:' %}</b></td>
                      <td>X</td>
                    </tr>
                  </table>
              </div>
              <div class="uk-overflow-auto">
                  <table class="uk-table uk-table-small uk-width-large@s">
                    <tr>
                      <td><b>{% trans 'First address:' %}</b></td>
                      <td>europe1.owlpull.com:9327 {% trans '(Auto Geolocation)' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Second address:' %}</b></td>
                      <td>europe2.owlpull.com:9327 {% trans '(Auto Geolocation)' %}</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Username:' %}</b></td>
                      <td>your wallet address</td>
                    </tr>
                    <tr>
                      <td><b>{% trans 'Password:' %}</b></td>
                      <td>X</td>
                    </tr>
                  </table>
              </div>
            </div>
          {% else %}
            <p>{% trans 'Please' %} <a href="{% url 'signup' %}">{% trans 'register here' %}</a> {% trans 'to see this text' %}</p>
          {% endif %}
          <p><b>5. {% trans 'Monitor your rewards.' %}</b></p>
          {% if user.is_active %}
            <div class="uk-grid uk-child-width-1-2@s">
              <div>
                  <p>{% trans 'Click to Profile and insert your coin wallets in form here (look at the picture). For the few seconds you will see your current hashrate and estimated rewards for different time.' %}</p>
                  <p>{% trans 'NOTE!!! We have PPLNS "Pay Per Last N Shares" payout system. For more information, please look at this' %} <a href="http://give-me-coins.com/support/faq/what-is-pplns/">{% trans 'article (eng)' %}</a> {% trans 'or' %} <a href="https://forum.bits.media/index.php?/blogs/entry/104-%D0%BC%D0%B5%D1%82%D0%BE%D0%B4-%D0%BD%D0%B0%D1%87%D0%B8%D1%81%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B8-%D0%B2%D1%8B%D0%BF%D0%BB%D0%B0%D1%82%D1%8B-%D0%B2%D0%BE%D0%B7%D0%BD%D0%B0%D0%B3%D1%80%D0%B0%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F-pplns/">{% trans 'this(ru)' %}.</a></p>
              </div>
              <div uk-lightbox>
                <a href="{% static 'images/wallets-help.jpg' %}" >
                  <img src="{% static 'images/wallets-help.jpg' %}" class="uk-width-large@m" />
                </a>
              </div>
            </div>
          {% else %}
            <p>{% trans 'Please' %} <a href="{% url 'signup' %}">{% trans 'register here' %}</a> {% trans 'to see this text' %}</p>
          {% endif %}
        </div>

        <div class="uk-switcher-item uk-card-body">
          <h2 class="uk-card-title">{% trans 'Common Q&A' %}</h2>
          <hr />

          <p><b class="uk-display-block">Q: Before start to mine could you check ping to the Pool?</b> A: The first step is identify a status of connection. Type in your shell commander <code>ping europe1.owlpull.com</code>If you see that ping is:</p>
          <p>Your ping < 50 ms - <span class="uk-label uk-label-default">excellent</span></p>
          <p>Your ping < 100 ms - <span class="uk-label uk-label-success">very good</span></p>
          <p>Your ping < 200 ms - <span class="uk-label uk-label-warning">good</span></p>
          <p>Your ping > 250 ms - <span class="uk-label uk-label-danger">bad</span><br/>
            <span style="color: #fff;text-transform: uppercase;background: #f0506e;font-size: 12px;border-radius: 2px;padding: 1px 10px;display: inline-block;margin-top: 8px;">Please switch to another Europe-1 or Europe-2 server and check test conncetion again</span></p>
          <p>
            <b class="uk-display-block">Q: When will I get paid?</b>
            A: This pool uses the followping payout system. Pay Per Last N Shares (PPLNS) - Block rewards are distributed among the last shares, disregarding round boundaries. In the accurate implementation, the number of shares is deter- mined so that their total will be a specified quantity of score (where the score of a share is the inverse of the difficulty). Most pools use a naive implementation based on a fixed number of shares or a fixed multiple of the difficulty. The share-variance can be reduced at the cost of increased maturity time, but there is no way to decrease the long-term pool-variance.
          </p>

          <p>
            <b class="uk-display-block">Q: What is a orphan block?</b>
            A: Coins generated by a block will not be available to you right away. They will take some time to be confirmed by the entire network before you are allowed to transfer them out of the pool. Usually coins have a confirmation set to 120. What that actually means: the network (not the pool) has to discover 120 additional blocks on top of the one found by the pool to confirm it.
          </p>

          <p>
            <b class="uk-display-block">Q: What is estimated payout?</b>
            A: Estimated payout is your estimated payout if a block is found at that time. This is an estimate according to your amount of shares submitted for the round(s).
          </p>

          <p>
            <b class="uk-display-block">Q: What is pool-variance?</b>
            A: This is the variance caused by the pool being too small. Using a method with high pool-variance does no harm to large pools.
          </p>

          <p>
            <b class="uk-display-block">Q: What is a share?</b>
            A: Finding blocks is not an easy task. Since it would take a really long time on some coins, finding a block is broken down into shares. Depending on the server side setting, each share can be a certain difficulty. The more difficult each share is to find by miners, the fewer total shares are required to eventually find a block.

            On the server side, each share is checked against the coin daemon (a server side wallet with more features) if it is indeed a valid block solution. Every share computed has the potential to be a block solution. I will not go into details why this is, but rest assured that share estimates for blocks can sometimes be exceeded. In the long run though, shorter round with less shares than required will make up for those taking very long.

            Keep in mind: shares are not blocks! Shares are part of a block and will count towards the block payout!

            At times, you will see shares being rejected by the pool. This can happen if you try to send an outdated share right after a block was found. Stratum, a protocol used by a miner to request work from a server, is used for share submission and getting new work. It is very solid when it comes to avoiding rejects but they can still happen once in a while.

            If you are seeing reject all the time, then something isn’t working right on your end. You may also notice that your hashrate on the pool website is not increasing while your invalid share count keeps climbing up. In that case turn off your miner and check your settings!
          </p>

          <p>
            <b class="uk-display-block">Q: I am having problems connecting to the pool.</b>
            A: Double check your settings against our getting started page. This Pool has a manual configuration and we try to make the work of your miners as profitable for you. The operation of the pool is soley at the hand of your trusted pool operator.
          </p>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>
</div>
{% endblock content %}
