{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Owl.Pull - Multicoin mining pool</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="OwlPull is the most profitable, the better bitcoin/dash/litecoin mining pool on the World.">
    <meta name="keywords" content="mining bitcoin, mining dash, mining litecoin, mining pool, blockchain, mining, bitcoin, dash, litecoin, stable mining pool">

    <!-- Uikit3 -->
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Uikit3-->
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/all.js' %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>
<body>
    {% get_current_language as LANGUAGE_CODE %}
    <nav id="sidebar" class="uk-height-viewport uk-position-fixed uk-position-top-left">
        <div class="uk-navbar">
            <a href="{% url 'home' %}" class="uk-navbar-item uk-logo" title="Owl Pool">
              <img src="{% static 'images/logo.svg' %}" alt="Owl.pull" />
              <span class="title uk-visible@m">Owl.pull</span>
            </a>
        </div>
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav="">
            <li class="home uk-margin-small-top"><a href="{% url 'home' %}"><i uk-icon="icon: home;ratio:1.5"></i><span class="uk-visible@m">{% trans 'Home Dashboard' %}</span></a></li>
            <li><a href="{% url 'profile' %}"><i uk-icon="icon: user;ratio:1.5"></i><span class="uk-visible@m">{% trans 'Profile' %}</span></a></li>
            <li><a href="{% url 'blog' %}"><i uk-icon="icon: database;ratio:1.4"></i><span class="uk-visible@m">{% trans 'Knowledge' %}</span></a></li>
            <li class="uk-nav-divider uk-margin-small"></li>
						<li class="choose-lang">
								<a href="#" rel="nofollow" class="uk-display-block"><i class="flag flag-{{LANGUAGE_CODE}}"></i></a>
								<div uk-dropdown="mode:click;pos:right">
									{% get_available_languages as LANGUAGES %}
									{% get_language_info_list for LANGUAGES as languages %}
									<ul class="uk-list uk-link-text uk-list-divider uk-padding-remove">
										{% get_current_language as LANGUAGE_CODE %}
										{% if LANGUAGE_CODE == "ru" or LANGUAGE_CODE == "en" %}
											<li><a href="/en{{ request.get_full_path|slice:'3:' }}"><i class="flag flag-{{languages.0.code}} uk-margin-small-right"></i>{{ languages.0.name_local }}</a></li>
											<li><a href="/ru{{ request.get_full_path|slice:'3:' }}"><i class="flag flag-{{languages.1.code}} uk-margin-small-right"></i>{{ languages.1.name_local }}</a></li>
										{% else %}
											<li><a href="/en{{ request.get_full_path|slice:'6:' }}"><i class="flag flag-{{languages.0.code}} uk-margin-small-right"></i>{{ languages.0.name_local }}</a></li>
											<li><a href="/ru{{ request.get_full_path|slice:'6:' }}"><i class="flag flag-{{languages.1.code}} uk-margin-small-right"></i>{{ languages.1.name_local }}</a></li>
										{% endif %}
									</ul>
								</div>
						</li>
            <li class="uk-nav-divider uk-margin-small"></li>
            <li class="choose-server">
                <a href="#" rel="nofollow" class="uk-display-block">{% trans 'Server' %}:<span></span></a>
                <div uk-dropdown="mode:click;pos:right">
                  <ul class="uk-list uk-link-text uk-list-divider uk-padding-remove uk-text-left">
                    <li><a href="#" rel="nofollow" class="europe1">Europe-1</a></li>
                    <li><a href="#" rel="nofollow" class="europe2">Europe-2</a></li>
                  </ul>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <header class="uk-navbar-container uk-sticky" uk-sticky="">
            <div class="uk-container uk-container-expand">
                <div class="uk-navbar" uk-navbar="">
                    <div class="uk-navbar-left uk-margin-remove-left">
                        <ul class="uk-navbar-nav choose-coin">
                            <li><a href="/" class="btc" rel="nofollow"><i class="uk-icon" uk-icon="icon:coin-btc;ratio:1.4"></i><span class="uk-visible@s uk-margin-small-left">Bitcoin</span></a></li>
                            <li><a href="/" class="dash" rel="nofollow"><i class="uk-icon" uk-icon="icon:coin-dash;ratio:1.4"></i><span class="uk-visible@s uk-margin-small-left">Dash</span></a></li>
                            <li><a href="/" class="lite" rel="nofollow"><i class="uk-icon" uk-icon="icon:coin-ltc;ratio:1.4"></i><span class="uk-visible@s uk-margin-small-left">Litecoin</span></a></li>
                            <li class="uk-visible@m"><a href="/" class="eth disabled" rel="nofollow"><i class="uk-icon" uk-icon="icon:coin-eth;ratio:1.4"></i><span class="uk-visible@s uk-margin-small-left">Ethereum</span></a></li>
                        </ul>
                    </div>
                    <div class="uk-navbar-right uk-margin-remove-right">
                      <ul class="uk-navbar-nav">
                          <li class="uk-visible@s">
                            {% if user.is_active %}
                                <a href="#" rel="nofollow">{{ user.username }}</a>
                            {% else %}
                                <a href="{% url 'profile' %}">{% trans 'Account' %}</a>
                            {% endif %}
                            <div class="uk-navbar-dropdown" uk-dropdown="pos:bottom-left;offset:-5">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    {% if user.is_active %}
                                        <li><a href="{% url 'logout' %}"><span class="uk-margin-small-right uk-icon uk-text-top" uk-icon="icon: unlock"></span>{% trans 'Logout' %}</a></li>
                                        <li><a href="{% url 'reset_password' %}"><span class="uk-margin-small-right uk-icon uk-text-top" uk-icon="icon: refresh"></span>{% trans 'Reset password' %}</a></li>
                                    {% else %}
                                        <li><a href="{% url 'login' %}"><span class="uk-margin-small-right uk-icon uk-text-top" uk-icon="icon: lock"></span>{% trans 'Login' %}</a></li>
                                        <li><a href="{% url 'reset_password' %}"><span class="uk-margin-small-right uk-icon uk-text-top" uk-icon="icon: refresh"></span>{% trans 'Reset password' %}</a></li>
                                        <li><a href="{% url 'signup' %}"><span class="uk-margin-small-right uk-icon uk-text-top" uk-icon="icon: sign-in"></span>{% trans 'Sign Up' %}</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                          </li>
                          <li>
                            <a href="{% url 'blog' %}" title="{% trans 'Help' %}">
                              <img src="{% static 'images/awesome/lightning.svg' %}" alt="{% trans 'How to connect' %}" width="31" height="31" />
                              <span class="uk-visible@s uk-margin-small-left">{% trans 'Сonnect' %}</span>
                            </a>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div class="main uk-margin" uk-height-viewport="expand:true">
          <div class="uk-container uk-container-expand">
              {% block content %}
              {% endblock content %}
          </div>
        </div>
        <footer>
          <div class="uk-container uk-container-expand">
            <div class="uk-text-left">Owl.pull © XXI-2018</div>
          </div>
        </footer>
        <div class="settings uk-hidden">
          <div id="csrf">{% csrf_token %}</div>
          <div id="language">{% if LANGUAGE_CODE == "ru" %}ru{% elif LANGUAGE_CODE == "en" %}en{% else %}zh-cn{% endif %}</div>
        </div>
    </div>
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter48106934 = new Ya.Metrika2({ id:48106934, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true, ut:"noindex" }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/48106934?ut=noindex" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</body>
</html>
