﻿{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script src="{% static 'js/profile.js' %}"></script>

  <div class="uk-grid uk-child-width-1-2@m" uk-grid>
    <div class="item">
      <div class="uk-card uk-card-default uk-card-detached uk-card-small">
        <div class="uk-card-body">
          <h2 class="uk-h3">{% trans 'Wallets' %}</h2>
          <form method="post" class="uk-form-stacked">
            {% csrf_token %}
            <div>
              <label class="uk-form-label">BTC</label>
              <div class="uk-form-controls uk-position-relative">
                {% render_field form.wallet_addres_btc class+="uk-input uk-width-1-1" type="text" name="wallet_btc" minlength="27" maxlength="34" placeholder="Insert your BTC-wallet starts with 1 or 3..." %}
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">DASH</label>
              <div class="uk-form-controls">
                {% render_field form.wallet_addres_dash class+="uk-input uk-width-1-1" type="text" minlength="27" maxlength="34" name="wallet_dash" placeholder="Insert your DASH-wallet starts with X..." %}
              </div>
            </div>
            <div class="uk-margin">
              <label class="uk-form-label">LTC</label>
              <div class="uk-form-controls">
                {% render_field form.wallet_addres_lite class+="uk-input uk-width-1-1" type="text" minlength="27" maxlength="34" name="wallet_lite" placeholder="Insert your LITECOIN-wallet starts with L or 3..." %}
              </div>
            </div>

            <div class="uk-grid uk-grid-small uk-child-width-1-2@s uk-margin-top" uk-grid>
              <div class="uk-form-controls">
                <button class="uk-button uk-button-primary uk-width-1-1" type="submit">{% trans 'Save' %}</button>
              </div>
              <div class="uk-form-controls">
                <button class="uk-button uk-button-default uk-width-1-1" type="reset">{% trans 'Clear wallets' %}</button>
              </div>
            </div>
          </form>
          <hr />
          <h2 class="uk-margin-top">{% trans 'How to work with profile page?' %}</h2>
          <p>{% trans 'This page contain the huge part information about your account and current rewards.' %}</p>
          <h3 class="uk-h3 uk-margin-top">{% trans 'Step 1 - Add valid mining wallets' %}</h3>
          <p>
            {% trans 'In the form above, please insert your wallets which using with your miners.' %}
            {% trans 'For best understanding whole picture we recommend to you setup all miners with one the same wallet.' %}
            {% trans 'If your did not save your wallets, you will see pool wallets as default and zero statistics.' %}
            {% trans 'Also you may create another accounts, if you have many mining hardware with different payout wallets.' %}
          </p>
          <h3 class="uk-h3 uk-margin-top">{% trans 'Step 2 - Check statistics' %}</h3>
          <p>{% trans 'We prepare for you all information about your working miners. You can easily check how many rewards you have got any time period in realtime. Your current hashrate you can easily check by choosing "HOUR" in the top of menu.' %}
            <br> {% trans 'We note, that all rewards calculated with electricity costs for common hardware stats.' %}
            <br> {% trans 'Current BTC exchange rate' %}: <strong>{{btc_price}}$</strong>
          </p>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="choose-time uk-grid uk-grid-small uk-child-width-1-2 uk-child-width-1-5@s uk-margin-bottom" uk-grid>
          <div><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="hour">{% trans 'hour' %}</a></div>
          <div><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="day">{% trans 'day' %}</a></div>
          <div class="uk-visible@s"><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="week">{% trans 'week' %}</a></div>
          <div class="uk-visible@s"><a href="/" class="uk-button uk-button-default uk-width-1-1 uk-active" rel="nofollow" data-lang="month">{% trans 'month' %}</a></div>
          <div class="uk-visible@s"><a href="/" class="uk-button uk-button-default uk-width-1-1" rel="nofollow" data-lang="year">{% trans 'year' %}</a></div>
      </div>
      <div class="uk-grid uk-grid-collapse uk-child-width-1-2@m" uk-grid="">
        <div class="uk-width-2-5@l">
          <div class="chartjs-wrapper uk-position-relative uk-text-center uk-height-1-1">
            <div uk-spinner class="uk-position-center uk-animation"></div>
            <canvas id="chart-donut" class="uk-display-inline-block" height="240"></canvas>
            <span class="uk-background-white"></span>
            <span class="error uk-position-center uk-hidden">{% trans 'Service is temporarily unavailable' %}</span>
          </div>
        </div>
        <div class="uk-width-3-5@l">
          <table class="uk-table uk-table-divider uk-table-middle">
            <thead>
              <tr>
                <th>{% trans 'Name coin' %}</th>
                <th>{% trans 'Coin amount' %}</th>
                <th>$</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{% trans 'BTC rewards' %}</td>
                <td><span id="btc-amount"></span></td>
                <td><span id="btc-reward"></span></td>
              </tr>
                <td>{% trans 'Dash rewards' %}</td>
                <td><span id="dash-amount"></span></td>
                <td><span id="dash-reward"></span></td>
              </tr>
              <tr>
                <td>{% trans 'Litecoin rewards' %}</td>
                <td><span id="ltc-amount"></span></td>
                <td><span id="ltc-reward"></span></td>
              </tr>
              <tr>
                <td></td>
                <td><strong>{% trans 'Total' %}</strong></td>
                <td><span id="total-reward"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="chartjs-wrapper uk-position-relative uk-margin-top">
        <div uk-spinner class="uk-position-center uk-animation"></div>
        <canvas id="chart-poolrate"></canvas>
        <span class="uk-background-white"></span>
        <span class="error uk-position-center uk-hidden">{% trans 'Service is temporarily unavailable' %}</span>
      </div>
      <div class="chartjs-wrapper uk-position-relative uk-margin-top">
        <div uk-spinner class="uk-position-center uk-animation"></div>
        <canvas id="chart-poolpayouts"></canvas>
        <span class="uk-background-white"></span>
        <span class="error uk-position-center uk-hidden">{% trans 'Service is temporarily unavailable' %}</span>
      </div>
    </div>
  </div>
{% endblock %}
